body {
  font-family: "Reem Kufi Ink", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: url("../images/statue-of-liberty.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
  width: auto;
  height: 400px;
}

header h1 {
  line-height: 1.5;
  font-family: "Reem Kufi Ink", sans-serif;
  color: rgb(86, 99, 245);
  font-size: 90px;
  font-weight: 400px;
}

header h2 {
  font-weight: 200px;
  font-size: 40px;
  line-height: 1.5;
  color: rgb(244, 113, 130);
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #4828c6;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

.img-responsive {
  max-width: 100%;
}

section.secondary {
  background: #fdeef7;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.spotify-embed {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-body {
  padding: 20px;
}

.spring-btn {
  background: #e7afd7;
  color: black;
}

.summer-btn {
  background: #00b1cf;
  color: black;
}

.fall-btn {
  background: #e15d04;
  color: black;
}
.winter-btn {
  background: #ecb606;
  color: black;
}

h4 {
  margin: 0;
}

.grid-2-columns img {
  width: auto;
  height: 400px;
}

.secondary img {
  width: auto;
  height: 400px;
}

secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 0 auto;
  padding: 100px;
}

main h2 {
  font-weight: 200px;
  font-size: 40px;
  line-height: 1.5;
  color: rgb(244, 113, 130);
}

main h3 {
  line-height: 1.5;
  margin: 0;
}

.text-center {
  text-align: center;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.09),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/ny-skyline.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul {
  padding: 0;
}

footer h3 {
  font-size: 18px;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
    background-position: center;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
}

.grid-4-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
}

@media (max-width: 1350px) {
  .grid-4-columns {
    grid-template-columns: 1fr 1fr;
  }
}
